<div class="p-5">
  <h1><%= @event.name %></h1>
  <h5 class="pb-3"><em><%= @event.city  %> <%= @event.country %></em></h5>
  <p><%= @event.description %></p>
  <div>
    <p>Price: <%= humanized_money_with_symbol(@event.price) %></p>
    <% if @event.availability > 0 %>
    <p>Availability: <%= @event.availability %> tickets left</p>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-secondary active">Not available</button>
    <% end %>
  </div>
  <%= link_to 'Back to all events', events_path, class: 'back-button' %>
</div>

