<div class="container">
  <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
  <ul class="list-unstyled">
    <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
    <li><strong>EVENT</strong> <%= @order.event.name %> [<%= @order.event.city %>, <%= @order.event.country %>]</li>
    <li><strong>WHEN</strong> <%= @order.event.date.strftime("%B %d, %Y") %> - <%= @order.event.time.strftime("%H:%M") %></li>
    <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
    </li>
  </ul>
  <p>Estimated delivery in <strong>2 business days</strong></p>
  <%= link_to 'Back to my orders', orders_path, class: 'back-button' %>
</div>
